<!doctype html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PwJS Tester</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style type="text/css">
            body { padding: 40px; }
        </style>
    </head>
    <body>
        <form method="GET">
            <div class="form-group">
                <input type="test" class="form-control" name="sha1" placeholder="Wpisz swój SHA1">
            </div>
        </form>
        {{#if results.length}}
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:1%;">Data</th>
                        <th style="width:1%;">Problem</th>
                        <th style="width:1%;">Status</th>
                        <th>Opis</th>
                    </tr>
                </thead>
                <tbody>
                {{#each results}}
                    <tr class="{{#if this.status}}table-success{{else}}table-danger{{/if}}">
                        <td style="white-space: nowrap;">{{this.date}}</th>
                        <td>{{this.problem}}</th>
                        <td>{{#if this.status}}Zaliczone{{else}}Niezaliczone{{/if}}</th>
                        <td>{{this.description}}</th>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
        {{/if}}
    </body>
</html>